.container-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-detail{
    display: flex;
    background-color: white;
    margin: 2% 0;
    padding: 0.5%;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 1px rgba(128, 128, 128, 0.185);
}

.detail-right{
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.detail-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 52rem;
}

.detail-left-top{
    display: flex;
    justify-content: space-evenly;
}

.container-tumbnails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1% 0 0 1%;
    width: 4rem;
}

.container-img-thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin: 10% 0;
    border: 0.5px solid rgb(180, 179, 179);
    border-radius: 4px;
}

.thumbnail-detail{
    cursor: pointer;
    max-width: 95%;
    max-height: 86%;
    padding: 6% 8%;
}

.container-img-thumbnail:hover{
    border: 2px solid #3483FA;
}

.detail-container-imagen{
    width: 26rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.picture-detail{
    max-width: 90%;
    max-height: 90%;
}

.container-details{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 3%;
}

.heart-icon {
    font-size: 1.4rem;
    align-self: flex-end;
    padding-right: 6%;
}

.heart-icon path{
    stroke: #3483FA;
}

.container-details h3 {
    font-size: 1.3rem;
    letter-spacing: 0.8px;
    margin: 1% 0 10% 0;
}

.container-details del {
    color: rgba(61, 61, 61, 0.575);
}

.detail-price{
    display: flex;
    align-items: center;
}

.container-details h2{
    margin: 0;
    font-weight: lighter;
    font-size: 2.1rem;
    color: rgb(49, 49, 49);
    margin-right: 2%;
}

.detail-price p{
    color: #39B54A;
    font-size: 1.1rem;
}

.container-details p{
    font-size: 1.1rem;
    font-weight: lighter;
}

.detail-left-table, .detail-left-bottom{
    border-top: 1px solid rgba(128, 128, 128, 0.37);
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 2% 5%;
    padding: 2% 0;
}

.detail-left-table div{
    border: 0.5px solid #EBEBEB;
    border-radius: 6px;
    width: 100%;
    margin: 2% 0;
}

.detail-left-table h3{
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    margin: 3% 0;
    color: rgb(61, 61, 61);
    font-weight: 500;
}

table {
    display: flex;
}

thead{
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
    text-overflow: clip;
    white-space: wrap; 
    width: 19rem;
    padding: 2% 1%;

}

table:nth-child(even) thead{
    background-color: #F5F5F5;
}

table:nth-child(odd) thead{
    background-color: #EBEBEB;
}

th {
    display: flex;
    color: rgb(61, 61, 61);
    width: 19rem;
}

td{
    color: rgb(80, 79, 79);
}

tbody{
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.detail-left-bottom{
    border-top: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    margin-top: 0;
    padding-top: 0;
}

.detail-left-bottom h3{
    letter-spacing: 0.4px;
    color: rgb(61, 61, 61);
    font-weight: 500;
    margin-bottom: 1%;
}

.contanier-other-details{
    display: flex;
    flex-wrap: wrap;
}

.contanier-other-details p {
    width: 50%;
    font-size: 0.9rem;
    margin: 1% 0;
    color: rgb(77, 75, 75);
}

.detail-right-shipping, .detail-right-seller, .detail-right-payment {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(184, 179, 179, 0.514);
    border-radius: 7px;
    padding: 5%;
    margin: 2%;
}

.detail-send{
    display: flex;
    align-items: center;
    color: #23B268;
    font-size: 16px;
    font-weight: 400;
    margin: 5% 0 2% 0;
}

.detail-time{
    font-weight: lighter;
    font-size: 0.9rem;
    color: rgba(0,0,0,.55);
    margin-left: 12%;
}

.icon-truck{
    font-size: 1.3rem;
    margin-right: 4%;
}

.detail-location{
    color: #5A8BD4;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 1.5% 0 0 12%;
}

.detail-stock{
    font-weight: 600;
    font-size: 1rem;
    margin: 10% 0;
}

.detail-quantity{
    display: flex;
    margin: 5% 0 14% 0;
    color: rgba(0, 0, 0, 0.74);
}

.detail-quantity select{
    border: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.74);
    font-weight: bolder;
}

.available{
    font-size: 0.8rem;
    color: rgba(0,0,0,.55);
}

.btn-buy, .btn-cart{
    background: #3876d4f1;
    padding: 5% 2%;
    margin: 1.4% 0;
    width: 17rem;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: #236ad3 ;
}

.btn-cart{
    background: #D9E7FA;
    color: #3876d4f1;
}

.detail-point {
    color: #2a78ec;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 8% 0 4% 0;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.icon-trophy{
    font-size: 1.3rem;
    color: rgb(65, 62, 62);
    margin-right: 2%;
}

.detail-information {
    color: rgba(0, 0, 0, 0.788);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 6% 0 2% 0;
}

.detail-seller-location{
    color: rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    margin: 8% 0 1% 0;
}

.location-icon{
    font-size: 1.3rem;
    margin-right: 3%;
}

.detail-platinum{
    display: flex;
    align-items: center;
    color: #23B268;
    font-size: 1rem;
    font-weight: 600;
    margin: 8% 0 1% 0;
}

.detail-site{
    font-weight: lighter;
    color: rgba(0,0,0,.55);
    font-size:  0.9rem;
    margin-left: 11%;
}

.seller-calification-container {
    display: flex;
    width: 98%;
    justify-content: space-between;
    padding: 1% 0 0 1%;
    align-items: center;
}

.seller-calification{
    list-style: none;
    background-color: #39B54A;
    height: 0.5rem;
    width: 3rem;
}

.seller-data{
    display: flex;
    width: 96%;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 2%;
    margin: 0;
}

.seller-data-item, .seller-data-item-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0 2%;
    text-align: center;
}

.seller-data-item-middle{
    border-right: 0.5px solid rgba(128, 128, 128, 0.384);
    border-left: 0.5px solid rgba(128, 128, 128, 0.384);
}

.seller-data-item p, .seller-data-item-middle p{
    font-size: 0.7rem;
    margin-top: 10%;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.788);
}

.seller-data-item h2{
    margin: -2% 0 0 0;
    font-weight: lighter;
}

.detail-payment{
    color: rgba(0,0,0,.9);
    font-size: 18px;
    font-weight: 400;
}

.detail-credit{
    font-weight: lighter;
    margin: 6% 0 2% 0;
}

.payment-type{
    margin: 8% 0 1% 0;
    color: rgba(0, 0, 0, 0.733);
}

.credit-contatiner, .efectivo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
    width: 95%;
}

.efectivo-container{
    width: 40%;
}

.detail-date{
    color: #2a78ec;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 8% 0 2% 0;
}
