.container-discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.discover-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 75%;
}

.discover-title{
    font-weight: lighter;
    font-size: 1.7rem;
    margin-right: 1.5%;
    color: #727272;
}

.container-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.discover-card{
    display: flex;
    align-items: center;
    width: 36.6rem;
    height: 16rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.discover-card:hover{
    box-shadow: 0 4px 12px 5px #6362623b;
}

.discover-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0 4% 0 6%;
}

.discover-cat{
    letter-spacing: 4px;
    color: #4B4B4B;
}

.discover-promo{
    letter-spacing: 1px;
    font-size: 1.7rem;
    color: #4B4B4B;
    margin: 0;
    font-weight: 600;
}

.discover-btn{
    background: #3876d4ec;
    border: none;
    border-radius: 2px;
    height: 2.3rem;
    width: 6rem;
    color: white;
    margin-top: 5%;
    cursor: pointer;
}

.discover-btn:hover{
    background-color: #236ad3 ;
}

.discover-img{
    width: 50%;
}
