.container-navbar{
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-color);
    padding: 0 10%;
    justify-content: space-around;
}

.top-navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.6%;
}

.bottom-navbar{
    display: flex;
    justify-content: flex-start;
    margin: 0.8% 0;
}

.location{
    display: flex;
    cursor: pointer;
    color: rgba(68, 66, 66, 0.884);
    margin-left: 3.4%;
    letter-spacing: 0.4px;
}

.icon-location{
    font-size: 1.6rem;
    font-weight: lighter;
}

.send-to{
    font-size: 0.7rem;
    font-weight: 100;
}

.cap-federal{
    font-size: 0.8rem;
    font-weight: 500;
}

.lista{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-left: 4.5%;
    width: 32rem;
    font-weight: lighter;
    cursor: pointer;
    color: rgba(68, 66, 66, 0.644);
    font-size: small;
    letter-spacing: 0.5px;
}


.cart{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 18.5rem;
    cursor: pointer;
    margin-left: 16%;
    font-size: 0.8rem;
    color: rgb(92, 91, 91);
    letter-spacing: 0.5px;
}

.icon-cart{
    font-size: 1.3rem;
    font-weight: lighter;
    color: rgb(94, 94, 94);
}