.offers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 4% 0;
    cursor: pointer;
}

.offers-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 75%;
}

.offers-title{
    font-weight: lighter;
    font-size: 1.7rem;
    margin-right: 1.5%;
    color: #727272;
}

.offers-seeAll{
    display: flex;
    margin-bottom: 2.2%;
    color: #5697FA;
    font-weight: 500;
}

.offers-slider{
    display: flex;
    width: 77%;
    justify-content: space-evenly;
}