.payment-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    margin: 2.2% 12.5% 0 12.5%;
    border-radius: 4px;
}

p{
    margin: 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    margin: 1.8% 0;
}

.pay-img{
    display: flex;
    width: 50px;
    border-radius: 100px;
    margin-right: 6%;
    cursor: pointer;
}

.plus{
    display: flex;
    height: 5.6rem;
    width: 8%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(204, 202, 202, 0.438);
}

.pay-plus{
    display: flex;
    width: 50px;
    border-radius: 100px;
}


.pay-subtext{
    color: #2a78ec;
    font-size: 0.8rem;
    cursor: pointer;
}
