.container-results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.results-filtros{
    display: flex;
    justify-content: center;
    margin: 4% 0;
}

.results-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 2.5% 0 0;
    width: 17rem;
}

.results-left h4{
    margin-bottom: 6%;
    color: rgb(68, 68, 68);
}

.results{
    display: flex;
    flex-direction: column;
    width: 59.4rem;
    padding-right: 3%;
}

.card-results{
    display: flex;
    align-items: flex-start;
    background-color: white;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
    color:black;
    padding: 1% 0;
}

.img-results{
    display: flex;
    padding: 2% 3%;
    max-width: 100%;
    height: auto;
}

.container-card-results{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.title-results{
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(92, 91, 91);
}

.price-results{
    font-weight:500;
    font-size: 1.4rem;
    margin-top: 8%;
    letter-spacing: 0.5px;
}

.free-today{
    background-color: #00A650;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 0.7% 1.2%;
    width: fit-content;
    margin-top: 3%;
}

.results-city, .results-show-more, .results-off{
    color: grey;
    margin: 2% 0;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.results-off{
    margin: 4% 0;
}

.results-show-more{
    color: #3483fa;
}

.imagen-publi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    margin-top: 20%;
}

.img-public{
    width: 30rem;
    border-radius: 4px 4px 0px 0px;

}

.img-oferta{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 18rem;
    overflow: hidden;
    margin-top: -5rem;
    border-radius: 0px 0px 4px 4px;
}

.imagen-oferta{
    width: 48rem;
    border-radius: 0px 0px 4px 4px;
}

.results-number{
    margin-top: -8%;
    margin-bottom: 18%;
}
