.container-results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.results-filtros{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 4%;
}

.results-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 4%;
    width: 16rem;
}

.results{
    display: flex;
    flex-direction: column;
    margin-right: 17%;
}

.card-results{
    display: flex;
    align-items: flex-start;
    background-color: white;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
    padding: 3%;
    color:black;
    width: 130%;
}

.img-results{
    display: flex;
    padding: 2%;
    max-width: 100%;
    height: auto;
}

.container-card-results{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.title-results{
    font-size: large;
}

.price-results{
    font-weight:500;
    font-size: larger;
    margin-top: 8%;
    letter-spacing: 0.4px;
}

.imagen-publi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
}

.img-public{
    width: 30rem;
    border-radius: 4px 4px 0px 0px;

}

.img-oferta{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 18rem;
    overflow: hidden;
    margin-top: -5rem;
    border-radius: 0px 0px 4px 4px;
}

.imagen-oferta{
    width: 48rem;
    border-radius: 0px 0px 4px 4px;
    

}