.container-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 12.5rem;
  border: 1px solid rgba(153, 152, 152, 0.548);
  border-radius: 6px;
  padding: 7% 6%;
  font-size: smaller;
  margin-bottom: 3%;
}

.toggle-switch {
    position: relative;
    width: 2.2rem;
    display: inline-block;
    text-align: left;
    top: 2px;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -20%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
  float: left;
  width: 31%;
  height: 1.2rem;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.inner:before {
  content: "";
  padding-left: 4px;
  background-color: #3483fa;
  color: #fff;
}

.inner:after {
  content: "";
  padding-right: 4px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.switch {
    display: block;
    width: 44%;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    border: 1.5px solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  
  .checkbox:checked + .label .switch {
    right: 0px;
  }