@font-face {
  font-family: 'Proxima Nova';
  src: url('../src//assets/fonts/Proxima\ Nova\ Alt\ Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../src/assets/fonts/ProximaNova-Regular.otf');
}

body {
  margin: 0;
  font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --navbar-color:#FFF159 ;
  --font-white: 
  --bg-color: 
}
